# For Android Emulator:
# EXPO_PUBLIC_API_URL=http://10.0.2.2:8000
#
# For iOS Simulator / Web:
# EXPO_PUBLIC_API_URL=http://localhost:8000
#
# For a physical phone on your Wi-Fi:
# EXPO_PUBLIC_API_URL=http://<YOUR_PC_LAN_IP>:8000

EXPO_PUBLIC_API_URL=http://localhost:8000
